<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta charset="utf-8" />
		<title>8Cvet</title>
		<meta name="description" content="" />

		<!-- This styles only adds some repairs on idevices  -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Favicon --> 
		<link rel="shortcut icon" href="/industrix/img/favicon.png" />

		<!-- Roboto Condensed Webfont -->
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,400,300,700' rel='stylesheet' type='text/css'>	
		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="/industrix/css/font-awesome.min.css" />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="/industrix/css/normalize.css" />

		<!-- Owl Carousel CSS -->
		<link href="/industrix/css/owl.carousel.css" rel="stylesheet" media="screen">
		
		<!-- REVOLUTION BANNER CSS SETTINGS -->
		<link rel="stylesheet" type="text/css" href="/industrix/rs-plugin/css/settings.css" media="screen" />			

		<!-- Bootstrap CSS -->		
		<link rel="stylesheet" href="/industrix/css/bootstrap.min.css" />
		
		<link rel="stylesheet" href="/industrix/css/offcanvas.css" />		

		<!-- Main CSS -->
		<link rel="stylesheet" href="/industrix/style.css" />

		<!-- Responsive Framework -->
		<link href="/industrix/css/responsive.css" rel="stylesheet" media="screen" />

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			.hide_price{
				display: none;
			}
			.show_price{
				display: block;
			}
			p {
				font-size: 16px;
			}
		</style>
    </head>
	
    <body>
	
		<div class="wrapper">
			<div class="row row-offcanvas row-offcanvas-left">
				<!--[if lt IE 7]>
					<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
				<![endif]-->
				
				<div class="inner-wrapper">
					<div class="header-top">
						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="logo">
										<a title="8Свет" href="/{{city}}">
											<img alt="8Свет" src="/content/media/882.png" class="logo-img">
										</a>
									</div> <!-- //logo -->
								</div> <!-- //col-md-3 -->

								<div class="col-md-9 col-sm-8 hidden-xs">
									
									<!-- HEAD SOCIAL ICON -->
									<div class="pull-right ">     
										
										<div class="social-icon">
											<ul>
												{#}
												<li><a href="#" title="RSS" target="_blank"><i class="fa fa-rss"></i></a></li>
										#}
												<li><a href="http://vk.com/vkcom8cvet" title="vKontakte" target="_blank"><i class="fa fa-vk"> </i></a></li>
{#
												<li><a href="http://www.facebook.com/#" title="Facebook" target="_blank"><i class="fa fa-facebook"> </i></a></li>
											#}

												<li><a href="http://www.twitter.com/8cvet_com" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
										{#
												<li><a href="https://plus.google.com/#" title="Google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
										
												<li><a href="http://www.youtube.com/#" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a></li>
										
												<li><a href="http://www.linkedin.com/#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
										
												<li><a href="http://www.flickr.com/#" title="Flickr" target="_blank"><i class="fa fa-flickr"></i></a></li>
										
												<li><a href="skype:#?call" title="Skype" target="_blank"><i class="fa fa-skype"></i></a></li>
										
												<li><a href="http://www.vimeo.com/#" title="Vimeo" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
										#}
											</ul>
										</div> <!-- //social-icon -->
									</div>
									<!-- //HEAD SOCIAL ICON -->
									
								</div> <!-- //col-md-9 -->
							</div> <!-- //row -->
						</div> <!-- //container -->
					</div> <!-- //header-top -->	
				
					<div class="container">
						<div class="navbar navbar-default mainnav">
							<ul class="nav navbar-nav" style="">

								<li><a href="tel:9852178">					
										<span style="color:white; font-size:18px; font-weight: bold;">+7 (812) 985 - 21- 78</span>
									</a>
								</li> 

								<li>
									<a href="tel:6852178">
										<span style="color:white; font-size:18px; font-weight: bold;">+7 962 685 - 21 - 78</span>
									</a>
								</li> 
							</ul>
						</div>
					</div>					
				
				
					<!-- Navigation Area -->
					<div class="container">
						<div class="navbar navbar-default mainnav">

							<!-- NAVBAR HEADER -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="#myNavmenuCanvas" data-placement="left">
								<i class="fa fa-bars"></i>
								</button>
								
								<!-- HEAD SEARCH -->
								{##}
								<!-- //HEAD SEARCH -->
							</div>
							<!-- //NAVBAR HEADER -->
							<!-- NAVBAR MAIN -->
							<nav class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li><a href="/{{city}}" > Главная</a></li>
									<li><a href="/{{city}}/master/home">Муж на час</a></li>
									<li><a href="/{{city}}/master/water">Услуги Сантехника</a></li>
									<li><a href="/{{city}}/master/electro">Услуги Электрика</a></li>
									<li><a href="/{{city}}/master/furniture">Сборка мебели</a></li>
									<li><a href="/{{city}}/master/faq">Полезные советы</a></li>
									<li class="active"><a href="/{{city}}/quick/order" {#onclick="alert('Временно недоступно. Звоните по нашим телефонам.');"#}>Заявка-online</a></li>
								</ul>
							</nav> 
							<!-- //navbar-collapse -->
						</div> <!-- //navbar -->
					</div> <!-- //container -->

				

					<!-- Slider Area -->
					{% block content %}
					{% endblock content %}
{#
					<div class="container">
						<div class="box-shadow-area showcase mt-20">
							<div class="row">
								<div class="col-md-7 col-sm-12 col-xs-12">
									<div class="showcase-left">
										<div class="tp-banner-container">
											<div class="tp-banner" >
												<ul>
													<!-- SLIDE  -->
													<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
														<!-- MAIN IMAGE -->
														<img src="/industrix/img/slide-a1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
														<!-- LAYERS -->
														<!-- LAYER NR. 1 -->
														<div class="tp-caption slider-caption skewfromrightshort fadeout"
															data-x="10"
															data-y="170"
															data-speed="500"
															data-start="1200"
															data-easing="Power4.easeOut">We Are Professional, <br /> Competitive And <br />Competent In Our<br /> Service
														</div>

													</li>
													<!-- SLIDE  -->
													<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
														<!-- MAIN IMAGE -->
														<img src="/industrix/img/slide-a2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
														<!-- LAYERS -->
														<!-- LAYER NR. 1 -->
														<div class="tp-caption slider-caption2 skewfromrightshort fadeout"
															data-x="50"
															data-y="180"
															data-speed="500"
															data-start="1200"
															data-easing="Power4.easeOut">We Have a Team Of Leaders And <br /> Professionalsn That Know Their <br /> Job And Do It Well
														</div>

													</li>

												</ul>
											</div>
										</div>
										
									</div> <!-- //showcase-left -->
								</div> <!-- //col-md-7 -->
								
								<div class="col-md-5 col-sm-12 col-xs-12">
									<div class="showcase-right">
										<ul class="top-service-box">
											<li>
												<h2>Oil &amp; Gas</h2>
												<p>Li Europan lingues es membres del sam familie.</p>
												<a href="#">DETAILS</a>
											</li>
											
											<li>
												<h2>Utilities</h2>
												<p>Lor separat existentie es un myth.</p>
												<a href="#">DETAILS</a>
											</li>
											
											<li>
												<h2>Automotive</h2>
												<p>Litot Europa usa li sam vocabular.</p>
												<a href="#">DETAILS</a>
											</li>
											
											<li>
												<h2>Chemicals</h2>
												<p>Por scientie musica sport ete</p>
												<a href="#">DETAILS</a>
											</li>
										</ul>

									</div> <!-- //showcase-right -->
								</div><!-- //col-md-5 -->
								
							</div> <!-- //row -->
						</div> <!-- //box-shadow-area -->
					</div> <!-- //container -->
#}

{#}
					<div class="container">
						<div class="row">
							<div class="col-md-5 less-pad-right">
								<div class="mt-15 box-wrapper sm-mrgright-15 xs-mrgright-15">
									<article>
										<header>
											<img alt="" src="/industrix/img/img1.jpg" class="img-responsive">
										</header>
										
										<div class="welcome-text">
											<h2>Welcome to Industrix</h2>
											<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas venenatis sollicitudin neque, vel rhoncus sem suscipit id. </p>
											<div class="readmore"><a href="#">More</a></div>
										</div> <!-- //welcome-text -->
									</article>
								</div>
							</div> <!-- //col-md-5 -->
							
							<div class="col-md-7">
								<div class="mt-15 box-wrapper">
									<div class="product-slider">
										<h2 class="lead-title"><span>Our Product</span><span class="lead-sub-title">Est omnis doloresereledusemp- quibdameto aurerumoms odes necessitatibus saepe eveniet</span></h2>

										<div id="css-demo" class="css-product">
											<div class="product-item">
												<img src="/industrix/img/demo1.jpg" alt="Demo Image" />							
												<div class="single-product">

													<h4><a href="#">Gasolin</a></h4>
													<span>Sed commodo dolor vel velit elementum eget volutpat nisi</span>
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div> <!-- //product-item -->
											
											<div class="product-item">
												<img src="/industrix/img/demo1.jpg" alt="Demo Image" />							
												<div class="single-product">

													<h4><a href="#">Gasolin</a></h4>
													<span>Sed commodo dolor vel velit elementum eget volutpat nisi</span>
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div> <!-- //product-item -->
											
											<div class="product-item">
												<img src="/industrix/img/demo1.jpg" alt="Demo Image" />							
												<div class="single-product">

													<h4><a href="#">Gasolin</a></h4>
													<span>Sed commodo dolor vel velit elementum eget volutpat nisi</span>
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div> <!-- //product-item -->
											
											<div class="product-item">
												<img src="/industrix/img/demo1.jpg" alt="Demo Image" />							
												<div class="single-product">

													<h4><a href="#">Gasolin</a></h4>
													<span>Sed commodo dolor vel velit elementum eget volutpat nisi</span>
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div> <!-- //product-item -->
											
											<div class="product-item">
												<img src="/industrix/img/demo1.jpg" alt="Demo Image" />							
												<div class="single-product">

													<h4><a href="#">Gasolin</a></h4>
													<span>Sed commodo dolor vel velit elementum eget volutpat nisi</span>
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div> <!-- //product-item -->
											
											<div class="product-item">
												<img src="/industrix/img/demo1.jpg" alt="Demo Image" />							
												<div class="single-product">

													<h4><a href="#">Gasolin</a></h4>
													<span>Sed commodo dolor vel velit elementum eget volutpat nisi</span>
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div> <!-- //product-item -->
											
											<div class="product-item">
												<img src="/industrix/img/demo1.jpg" alt="Demo Image" />							
												<div class="single-product">

													<h4><a href="#">Gasolin</a></h4>
													<span>Sed commodo dolor vel velit elementum eget volutpat nisi</span>
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div> <!-- //product-item -->
											
											<div class="product-item">
												<img src="/industrix/img/demo1.jpg" alt="Demo Image" />							
												<div class="single-product">

													<h4><a href="#">Gasolin</a></h4>
													<span>Sed commodo dolor vel velit elementum eget volutpat nisi</span>
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div> <!-- //product-item -->
											
										</div>	<!-- //css-product -->				
								
								
										<div class="customNavigation css-product-navigation">
											<a class="next"><i class="fa fa-angle-right"></i></a>
											<a class="prev"><i class="fa fa-angle-left"></i></a>
										</div> <!-- //css-product-navigation -->
										
									</div> <!-- //product-slider -->
								</div>
							</div> <!-- //col-md-7 -->
						</div> <!-- //row -->
					</div> <!-- //container -->
				#}
				
				
{#}
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-sm-12 col-xs-12 less-pad-right">
								<div class="tab-area mt-15 box-wrapper  sm-mrgright-15 xs-mrgright-15">

									<div id="tabs" class="home-tab">
										<!-- Nav tabs -->
										<ul class="nav nav-tabs">
										  <li class="active"><a href="#portfolio" data-toggle="tab"><i class="fa fa-briefcase"></i>&nbsp; Company Profile</a></li>
										  <li><a href="#magazin" data-toggle="tab"><i class="fa fa-folder"></i>&nbsp; Company Magazine</a></li>
										  <li><a href="#valu" data-toggle="tab"><i class="fa fa-heart"></i>&nbsp; Corporate values</a></li>
										</ul>


										<!-- Tab panes -->
										<div class="tab_container">
											<div class="tab-content">
												<div class="tab-pane active" id="portfolio">
												
													<img src="/industrix/img/tab_img.jpg" alt="" />

													<h4>LOREM IPSUM DOLOR SIT AMET</h4>

													<h5>Consec tetuer adipicing it. Praesebul.</h5>

													<p>Integer vel nulla ut erat faucibus auctor in in felis. Proin a justo arcu. Sed commodo dolor vel velit elementum eget volutpat nisi placerat. In tellus nulla, lacinia a vestibulum at, dapibus sed lorem. Nunc porta pharetra sollicitudin. Quisque a risus eu lectus fringilla sodales eu ac felis. Suspendisse potenti. Etiam at semper enim.</p>

													<p> Nunc varius mauris leo, ut facilisis orci. Praesent vehicula, lectus id condimentum suscipit, ipsum mauris vulputate elit, quis auctor turpis magna fringilla justo.</p>
												</div> <!-- //portfolio-tab -->
												
												<div class="tab-pane" id="magazin">
													
													<img src="/industrix/img/4ee759ab65ed601799cfe58516064bd8_240_0.jpg" alt="" />
													
													<h4>LOREM IPSUM DOLOR SIT AMET</h4>

													<h5>Consec tetuer adipicing it. Praesebul.</h5>

													<p>Integer vel nulla ut erat faucibus auctor in in felis. Proin a justo arcu. Sed commodo dolor vel velit elementum eget volutpat nisi placerat. In tellus nulla, lacinia a vestibulum at, dapibus sed lorem. Nunc porta pharetra sollicitudin. Quisque a risus eu lectus fringilla sodales eu ac felis. Suspendisse potenti. Etiam at semper enim.</p>

													<p> Nunc varius mauris leo, ut facilisis orci. Praesent vehicula, lectus id condimentum suscipit, ipsum mauris vulputate elit, quis auctor turpis magna fringilla justo.</p>
												</div> <!-- //magazin-tab -->
												
												<div class="tab-pane" id="valu">
													<img src="/industrix/img/demo5.png" alt="" />
													
													<h4>Yearly Investment</h4>
													<div class="progress">
														<div style="width: 30%;" class="progress-bar progress-bar-danger"><span class="sr-only">40% Complete (success)</span>
														</div>
													</div>
													
													<h4>Yearly Production</h4>
													<div class="progress">
														<div style="width: 60%;" class="progress-bar progress-bar-info"><span class="sr-only">40% Complete (success)</span>
														</div>
													</div>
													
													<h4>Yearly Profit</h4>
													<div class="progress">
														<div style="width: 90%;" class="progress-bar progress-bar-success"><span class="sr-only">40% Complete (success)</span>
														</div>
													</div>
												
													
												</div> <!-- //valu-tab -->
												
											</div> <!-- //tab-content -->
										</div> <!-- //tab_container -->
									</div> <!-- //home-tab -->

								</div> <!-- tab-area -->
							</div> <!-- col-md-8 -->
							
							
							
							<div class="col-md-4 col-sm-12 col-xs-12">
								<div class="accordion-area mt-15 box-wrapper">
									<h2 class="lead-title">Why Industrix?</h2>
										<div class="panel-group" id="accordion">
											<div class="panel panel-default panel-faq">
												<div class="panel-heading">
													<a data-toggle="collapse" data-parent="#accordion" href="#section1">
														<h4 class="panel-title">
															Who we are?
															<span class="pull-right"><i class="fa fa-minus-square"></i></span>
														</h4>
													</a>
												</div>
												
												<div id="section1" class="panel-collapse collapse in">
													<div class="panel-body">
														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
													</div>
												</div>
											</div>
											
											<div class="panel panel-default panel-faq">
												<div class="panel-heading">
													<a data-toggle="collapse" data-parent="#accordion" href="#section2">
														<h4 class="panel-title">
															What we do?
															<span class="pull-right"><i class="fa fa-plus-square"></i></span>
														</h4>
													</a>
												</div>
												
												<div id="section2" class="panel-collapse collapse">
													<div class="panel-body">
														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
													</div>
												</div>
											</div>
											
											<div class="panel panel-default panel-faq">
												<div class="panel-heading">
													<a data-toggle="collapse" data-parent="#accordion" href="#section3">
														<h4 class="panel-title">
															Why we do it?
															<span class="pull-right"><i class="fa fa-plus-square"></i></span>
														</h4>
													</a>
												</div>
												
												<div id="section3" class="panel-collapse collapse">
													<div class="panel-body">
														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
													</div>
												</div>
											</div>
											
											<div class="panel panel-default panel-faq">
												<div class="panel-heading">
													<a data-toggle="collapse" data-parent="#accordion" href="#section4">
														<h4 class="panel-title">
															How we do it?
															<span class="pull-right"><i class="fa fa-plus-square"></i></span>
														</h4>
													</a>
												</div>
												
												<div id="section4" class="panel-collapse collapse">
													<div class="panel-body">
														Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch
													</div>
												</div>
											</div>
										</div>				
								</div> <!-- accordion-area -->

							</div> <!-- col-md-4 -->
						</div> <!-- //row -->
						
						
						
						
						<div class="row">
							<div class="col-md-8 col-sm-12 col-xs-12 less-pad-right">
								<div class="latest-news-area mt-15 box-wrapper sm-mrgright-15 xs-mrgright-15">
									<h2 class="lead-title">Latest News &amp; Events</h2>
									
									
									<div class="latest-news-caruosel">
									
										<div id="latest-news" class="latest-news">

											<div class="item">
												<div class="single-latest">
													<img src="/industrix/img/news-img1.jpg" alt="" />
													
													<p class="date-meta">04 March 2014 </p>
													<h4>AENEAN NEC SEMPERSEM</h4>
													<p>Lorem ipsum dolor sit amet,consec tetuer adipiscing. Praesentvestibu. lum molestielacuiirhs. Aenean non ummy hendreriauris.</p>
													
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div>

											<div class="item">
												<div class="single-latest">
													<img src="/industrix/img/news-img3.jpg" alt="" />
													
													<p class="date-meta">04 March 2014 </p>
													<h4>AENEAN NEC SEMPERSEM</h4>
													<p>Lorem ipsum dolor sit amet,consec tetuer adipiscing. Praesentvestibu. lum molestielacuiirhs. Aenean non ummy hendreriauris.</p>
													
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div>

											<div class="item">
												<div class="single-latest">
													<img src="/industrix/img/news-img1.jpg" alt="" />
													
													<p class="date-meta">04 March 2014 </p>
													<h4>AENEAN NEC SEMPERSEM</h4>
													<p>Lorem ipsum dolor sit amet,consec tetuer adipiscing. Praesentvestibu. lum molestielacuiirhs. Aenean non ummy hendreriauris.</p>
													
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div>

											<div class="item">
												<div class="single-latest">
													<img src="/industrix/img/news-img3.jpg" alt="" />
													
													<p class="date-meta">04 March 2014 </p>
													<h4>AENEAN NEC SEMPERSEM</h4>
													<p>Lorem ipsum dolor sit amet,consec tetuer adipiscing. Praesentvestibu. lum molestielacuiirhs. Aenean non ummy hendreriauris.</p>
													
													<div class="readmore"><a href="">More</a></div>
												</div>
											</div>
											
										</div>	
										
										<div class="customNavigation latest-news-navigation">
											<a class="next"><i class="fa fa-angle-right"></i></a>
											<a class="prev"><i class="fa fa-angle-left"></i></a>
										</div>
											
									</div>

								</div>
							</div> <!-- //col-md-8 -->
							
							
							<div class="col-md-4 col-sm-12 col-xs-12">
								<div class="testimonial-area mt-15 box-wrapper ">
									<h2 class="lead-title">Our Client say's</h2>
								
									<div class="client-testimonial-caruosel">
										<div id="client-testimonial" class="client-testimonial">
											<div class="item">
												<div class="testimonial">
													<p><i class="fa fa-quote-left"></i> Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio morbi. Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus.<i class="fa fa-quote-right"></i></p>
												</div>
												
												<img src="/industrix/img/testimonial-img1.jpg" alt="" />
												<p class="name"> Mark Johnson, <span class="position">Manager</span></p>
												<p class="company">ThemeHippo</p>
											</div>
											
											<div class="item">
												<div class="testimonial">
													<p><i class="fa fa-quote-left"></i> Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio morbi. Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus.<i class="fa fa-quote-right"></i></p>
												</div>
												
												<img src="/industrix/img/testimonial-img1.jpg" alt="" />
												<p class="name"> Mark Johnson, <span class="position">Manager</span></p>
												<p class="company">ThemeHippo</p>
											</div>
											
											<div class="item">
												<div class="testimonial">
													<p><i class="fa fa-quote-left"></i> Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio morbi. Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus.<i class="fa fa-quote-right"></i></p>
												</div>
												
												<img src="/industrix/img/testimonial-img1.jpg" alt="" />
												<p class="name"> Mark Johnson, <span class="position">Manager</span></p>
												<p class="company">ThemeHippo</p>
											</div>
										</div> <!-- //client-testimonial -->
										
										<div class="customNavigation client-testimonial-navigation">
											<a class="next"><i class="fa fa-angle-right"></i></a>
											<a class="prev"><i class="fa fa-angle-left"></i></a>
										</div> <!-- //client-testimonial-navigation -->

									</div> <!-- //client-testimonial-caruosel -->
								</div> <!-- //testimonial-area -->

							</div> <!-- //col-md-4 -->
						</div> <!-- //row -->
					</div> <!-- //container -->
				#}
<p>&nbsp;</p>
{#}
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="client-logo mt-15 box-wrapper ">
									<h3>Our Partner</h3>
									<div class="client-logo-caruosel">
										<div class="clients">
											<div class="item">
												<img src="/industrix/img/client.jpg" alt="Demo Image" />
											</div>
											<div class="item">
												<img src="/industrix/img/client2.jpg" alt="Demo Image" />
											</div>
											<div class="item">
												<img src="/industrix/img/client3.jpg" alt="Demo Image" />
											</div>
											<div class="item">
												<img src="/industrix/img/client4.jpg" alt="Demo Image" />
											</div>
											<div class="item">
												<img src="/industrix/img/client5.jpg" alt="Demo Image" />
											</div>
											<div class="item">
												<img src="/industrix/img/client.jpg" alt="Demo Image" />							
											</div>
											<div class="item">
												<img src="/industrix/img/client3.jpg" alt="Demo Image" />
											</div>
											<div class="item">
												<img src="/industrix/img/client4.jpg" alt="Demo Image" />
											</div>
											<div class="item">
												<img src="/industrix/img/client5.jpg" alt="Demo Image" />
											</div>
										</div><!-- //clients -->
										
										<div class="customNavigation clients-navigation">
											<a class="next"><i class="fa fa-angle-right"></i></a>
											<a class="prev"><i class="fa fa-angle-left"></i></a>
										</div> <!-- clients-navigation -->
										
									</div> <!-- //client-logo-carousel -->
								</div> <!-- //client-logo -->
							</div> <!-- //col-md-12 -->
						</div> <!-- //row -->
					</div> <!-- //container -->
#}
{#}				
					<div class="container">					
						<div class="footer-widget box-wrapper ">
							<div class="row">						
								<div class="col-lg-3 col-md-2 col-sm-4 col-xs-12">
									<div class="custom-menu-widget">
										<h2 class="widget-title "><span><i class="fa fa-twitter"></i> Latest Tweets</span></h2>
										
										<p>Check out this great  <a target="_self" href="#">#themeforest</a> item 'Industrix - HTML Responsive Business Template' <a target="_self" href="#">http://t.co/4z2q06KAl2</a></p>

									</div>						
								</div>						

								<div class=" col-lg-2 col-md-2 col-sm-4 col-xs-12">
									<div class="custom-menu-widget">
										<h2 class="widget-title "><span><i class="fa fa-briefcase "></i> Industrix</span></h2>

										<div class="custom-widget">
											<ul>
												<li><a href="#" title="About Us">About
												Us</a></li>

												<li><a href="#" title="">New Services</a></li>

												<li><a href="#" title="">Recent
												Projects</a></li>

												<li><a href="#" title="">Contacts</a></li>

												<li><a href="#" title="">Blog</a></li>
											</ul>
										</div>
									</div>
								</div>
								
									
								<div class=" col-lg-2 col-md-2 col-sm-4 col-xs-12">
									<div class="custom-menu-widget">
										<h2 class="widget-title "><span><i class="fa fa-cloud "></i> Information</span></h2>

										<div class="custom-widget">
											<ul>
												<li><a href="#" title=
												"About Us">Presss</a></li>

												<li><a href="#" title="">Terms</a></li>

												<li><a href="#" title="">Clients</a></li>

												<li><a href="#" title="">Partners</a></li>

												<li><a href="#" title="">Support</a></li>
											</ul>
										</div>
									</div>
								</div>


								<div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="custom-menu-widget">
										<h2 class="widget-title "><span><i class="fa fa-clock-o "></i> Office Hours</span></h2>

										<div class="custom-widget">
											<p>Our support Hotline is available 8 Hours a
											day</p>

											<p><strong>Monday-Friday:</strong> 10am to 8pm<br>
											<strong>Saturday – Sunday:</strong> By Special
											Appointment<br>
											<strong>Weekend:</strong> Closed</p>
										</div>
									</div>
								</div>


								<div class=" col-lg-2 col-md-3 col-sm-6 col-xs-12">
									<div class="custom-menu-widget">
										<h2 class="widget-title "><span><i class="fa fa-map-marker "></i> Location Map</span></h2>

										<div class="map">
											<img src="/industrix/img/worldmap.png" alt="worldmap" />
										</div>
									</div>
								</div>
							</div> <!-- //row -->
						</div>  <!-- //footer-widget -->


						<div class="copyright-text box-wrapper">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="left-copy-text">
										<p>Copyright © 2014 Industrix. All Rights
										Reserved. <br />Designed and Developed by <a href="#" title="" >cloudsoftwaresolutions.com</a></p>
									</div> <!-- //left-copy-text -->
								</div> <!-- //col-md-6 -->

								<div class="col-md-6 col-sm-6 hidden-xs">
									<div class="footer-right">
										<div class="social-icon pull-right social-fix">
											<ul>
												<li><a href="#" title="RSS" target="_blank"><i class="fa fa-rss"></i></a></li>
										
												<li><a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"> </i></a></li>
											
												<li><a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
										
												<li><a href="#" title="Google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
										
												<li><a href="#" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a></li>
										
												<li><a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
										
												<li><a href="#" title="Flickr" target="_blank"><i class="fa fa-flickr"></i></a></li>
										
												<li><a href="skype:#?call" title="Skype" target="_blank"><i class="fa fa-skype"></i></a></li>
										
												<li><a href="" title="Vimeo" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
											</ul>
										</div> <!-- //social-icon -->
									</div> <!-- //footer-right -->
								</div> <!-- //col-md-6 -->
								
							</div> <!-- //row -->
						</div> <!-- //copyright-text -->
					</div> <!-- //container -->
#}
				</div> <!-- //inner-wrapper -->

				
				
				<div style="outline: 1px dashed red;" class="offcanvas-wrapper col-sm-3 col-xs-3 hidden-lg hidden-md hidden-sm sidebar-offcanvas">
					<div class="sidebar-nav">
						<h2>8 свет</h2>
						<button type="button" class="close" aria-hidden="true"  data-toggle="offcanvas" >&times;</button>
						<ul>
							<li class="active"><a href="/">Главная</a></li>
							<li><a href="/{{city}}/faq">Муж на час</a></li>
							<li><a href="/{{city}}/faq">Услуги сантехника</a></li>
							<li><a href="/{{city}}/faq">Услуги электрика</a></li>
							<li><a href="/{{city}}/faq">Сборка мебели</a></li>
							<li><a href="/{{city}}/faq">Частые вопросы</a></li>
						</ul>
					</div> <!-- //sidebar-nav -->
				</div> <!-- //offcanvas-wrapper -->		

			</div> <!-- //row-offcanvas -->
		</div> <!-- //wrapper -->

        <!--Start script-->
        <script src="/industrix/js/jquery.min.js"></script>
        <script src="/industrix/js/modernizr-2.6.2.min.js"></script>
        <!-- jQuery REVOLUTION Slider  -->
        <script type="text/javascript" src="/industrix/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="/industrix/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/industrix/js/bootstrap.min.js"></script>
        <script src="/industrix/js/owl.carousel.min.js"></script>
        <script src="/industrix/js/jquery.scrollUp.js"></script>
        <script src="/industrix/js/offcanvas.js"></script>
        <script src="/industrix/js/jquery.prettyPhoto.js"></script>
        <script src="/industrix/js/script.js"></script>
        <!--End script    -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
var yaParams = {/*Здесь параметры визита*/};
</script>

<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter27114197 = new Ya.Metrika({id:27114197,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,params:window.yaParams||{ }});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/27114197" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src='https://www.google.com/recaptcha/api.js'></script>
    </body>
</html>