<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta charset="utf-8" />
		<title>8cvet.com</title>
		<meta name="description" content="" />

		<!-- This styles only adds some repairs on idevices  -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Favicon --> 
		<link rel="shortcut icon" href="img/favicon.png" />

		<!-- Roboto Condensed Webfont -->
		{#
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>	
		
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
#}
		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="{{config.url}}/themes/{{config.theme}}/css/font-awesome.min.css" />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="{{config.url}}/themes/{{config.theme}}/css/normalize.css" />

		<!-- Owl Carousel CSS -->
		<link href="{{config.url}}/themes/{{config.theme}}/css/owl.carousel.css" rel="stylesheet" media="screen">
		
		<!-- REVOLUTION BANNER CSS SETTINGS -->
		<link rel="stylesheet" type="text/css" href="{{config.url}}/themes/{{config.theme}}/rs-plugin/css/settings.css" media="screen" />			

		<!-- Bootstrap CSS -->		
		<link rel="stylesheet" href="{{config.url}}/themes/{{config.theme}}/css/bootstrap.min.css" />
		
		<link rel="stylesheet" href="{{config.url}}/themes/{{config.theme}}/css/offcanvas.css" />		

		<!-- Main CSS -->
		<link rel="stylesheet" href="{{config.url}}/themes/{{config.theme}}/style.css" />

		<!-- Responsive Framework -->
		<link href="{{config.url}}/themes/{{config.theme}}/css/responsive.css" rel="stylesheet" media="screen" />

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			.hide_price{
				display: none;
			}
			.show_price{
				display: block;
			}
			p {
				font-size: 16px;
			}
		</style>
    </head>
	
    <body>
		<div class="wrapper">
			<div class="row row-offcanvas row-offcanvas-left">
				<!--[if lt IE 7]>
					<p class="browsehappy">Вы используете <strong>старый</strong> браузео. На этом сайте Вы можете <a href="http://browsehappy.com/">бесплатно обновить свой браузер</a> и пользоваться нашим сайтом.</p>
				<![endif]-->
				<div class="inner-wrapper">
					<div class="header-top">
						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="logo">
										<a title="8Свет" href="/{{city}}">
											<img alt="8Свет" src="/content/media/882.png" class="logo-img">
										</a>
									</div> <!-- //logo -->
								</div> <!-- //col-md-3 -->

								<div class="col-md-9 col-sm-8 hidden-xs">
									
									<!-- HEAD SOCIAL ICON -->
									<div class="pull-right ">     
										
										<div class="social-icon">
											<ul>
												{#}
												<li><a href="#" title="RSS" target="_blank"><i class="fa fa-rss"></i></a></li>
										#}
												<li><a href="http://vk.com/vkcom8cvet" title="vKontakte" target="_blank"><i class="fa fa-vk"> </i></a></li>
{#
												<li><a href="http://www.facebook.com/#" title="Facebook" target="_blank"><i class="fa fa-facebook"> </i></a></li>
											#}

												<li><a href="http://www.twitter.com/8cvet_com" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
										{#
												<li><a href="https://plus.google.com/#" title="Google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
										
												<li><a href="http://www.youtube.com/#" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a></li>
										
												<li><a href="http://www.linkedin.com/#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
										
												<li><a href="http://www.flickr.com/#" title="Flickr" target="_blank"><i class="fa fa-flickr"></i></a></li>
										
												<li><a href="skype:#?call" title="Skype" target="_blank"><i class="fa fa-skype"></i></a></li>
										
												<li><a href="http://www.vimeo.com/#" title="Vimeo" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
										#}
											</ul>
										</div> <!-- //social-icon -->
									</div>
									<!-- //HEAD SOCIAL ICON -->
									
								</div> <!-- //col-md-9 -->
							</div> <!-- //row -->
						</div> <!-- //container -->
					</div> <!-- //header-top -->	

{#				
					<div class="container">
						<div class="navbar navbar-default mainnav">
							<ul class="nav navbar-nav" style="">

								<li><a href="tel:9852178">					
										<span style="color:white; font-size:18px; font-weight: bold;">+7 (812) 985 - 21- 78</span>
									</a>
								</li> 

								<li>
									<a href="tel:6852178">
										<span style="color:white; font-size:18px; font-weight: bold;">+7 962 685 - 21 - 78</span>
									</a>
								</li> 
							</ul>
						</div>
					</div>				
#}

				{# navigation #}
					<!-- Navigation Area -->
					<div class="container">
						<div class="navbar navbar-default mainnav">

							<!-- NAVBAR HEADER -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="#myNavmenuCanvas" data-placement="left">
								<i class="fa fa-bars"></i>
								</button>
								
								<!-- HEAD SEARCH -->
								{##}
								<!-- //HEAD SEARCH -->
							</div>
							<!-- //NAVBAR HEADER -->
							<!-- NAVBAR MAIN -->
							<nav class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li class="active"><a href="/{{city}}" > Главная</a></li>
									<li><a href="/{{city}}/master/home">Муж на час</a></li>
									<li><a href="/{{city}}/master/water">Услуги Сантехника</a></li>
									<li><a href="/{{city}}/master/electro">Услуги Электрика</a></li>
									<li><a href="/{{city}}/master/furniture">Услуги плотника</a></li>
									<li><a href="/{{city}}/master/faq">Полезные советы</a></li>
								</ul>
							</nav> 
							<!-- //navbar-collapse -->
						</div> <!-- //navbar -->
					</div> <!-- //container -->
					{# //navigation #}				
								

					{#% block content %}{% endblock %#}
					
						
					<div class="container">		
						<div class="copyright-text box-wrapper">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="left-copy-text">
										<p>Copyright © 2014, 8cvet.com, St. Peterburg, Russia
										<br />Assembled on <a href="#" title="" >slim framework</a></p>
									</div> <!-- //left-copy-text -->
								</div> <!-- //col-md-6 -->

								<div class="col-md-6 col-sm-6 hidden-xs">
									<div class="footer-right">
										<div class="social-icon pull-right social-fix">
											<ul>
												{#}
												<li><a href="#" title="RSS" target="_blank"><i class="fa fa-rss"></i></a></li>
										#}
												<li><a href="https://vk.com/vkcom8cvet" title="ВКонтакте" target="_blank"><i class="fa fa-vk"> </i></a></li>
				{#
												<li><a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"> </i></a></li>
					#}

												<li><a href="https://twitter.com/8cvwt_com" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
					{#					
												<li><a href="#" title="Google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
										
												<li><a href="#" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a></li>
										
												<li><a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
										
												<li><a href="#" title="Flickr" target="_blank"><i class="fa fa-flickr"></i></a></li>
										
												<li><a href="skype:#?call" title="Skype" target="_blank"><i class="fa fa-skype"></i></a></li>
										
												<li><a href="" title="Vimeo" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
												#}
											</ul>
										</div> <!-- //social-icon -->
									</div> <!-- //footer-right -->
								</div> <!-- //col-md-6 -->
								
							</div> <!-- //row -->
						</div> <!-- //copyright-text -->
					</div> <!-- //container -->
				</div> <!-- //inner-wrapper -->

				
				
				
				<div style="outline: 1px dashed red;" class="offcanvas-wrapper col-sm-3 col-xs-3 hidden-lg hidden-md hidden-sm sidebar-offcanvas">
					<div class="sidebar-nav">
						<h2>8 свет</h2>
						<button type="button" class="close" aria-hidden="true"  data-toggle="offcanvas" >&times;</button>
						<ul>
							<li class="active"><a href="/">Главная</a></li>
							<li><a href="/{{city}}/faq">Муж на час</a></li>
							<li><a href="/{{city}}/faq">Услуги сантехника</a></li>
							<li><a href="/{{city}}/faq">Услуги электрика</a></li>
							<li><a href="/{{city}}/faq">Сборка мебели</a></li>
							<li><a href="/{{city}}/faq">Частые вопросы</a></li>
						</ul>
					</div> <!-- //sidebar-nav -->
				</div> <!-- //offcanvas-wrapper -->				
			</div> <!-- //row-offcanvas -->
		</div> <!-- //wrapper -->

        <!--Start script-->
        <script src="{{config.url}}/themes/{{config.theme}}/js/jquery.min.js"></script>
        <script src="{{config.url}}/themes/{{config.theme}}/js/modernizr-2.6.2.min.js"></script>
        <!-- jQuery REVOLUTION Slider  -->
        <script type="text/javascript" src="{{config.url}}/themes/{{config.theme}}/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="{{config.url}}/themes/{{config.theme}}/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="{{config.url}}/themes/{{config.theme}}/js/bootstrap.min.js"></script>
        <script src="{{config.url}}/themes/{{config.theme}}/js/owl.carousel.min.js"></script>
        <script src="{{config.url}}/themes/{{config.theme}}/js/jquery.scrollUp.js"></script>
        <script src="{{config.url}}/themes/{{config.theme}}/js/offcanvas.js"></script>
        <script src="{{config.url}}/themes/{{config.theme}}/js/jquery.prettyPhoto.js"></script>
        <script src="{{config.url}}/themes/{{config.theme}}/js/script.js"></script>
        <!--End script    -->

    </body>
</html>




